@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Primary */
  --Red: hsl(4, 100%, 67%);
  /* Neutral */
  --Blue-800: hsl(234, 29%, 20%);
  --Blue-700: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  background-color: hsl(235, 18%, 26%);
  font-family: "Roboto", sans-serif;
  color: var(--Blue-800);
  font-size: 13px;
}

.success-card {
  background-color: var(--White);
  /* width: 380px; */
  /* height: 513px; */
  border-radius: 40px;
  /* padding: 60px; */
}
img {
  margin: 45px 60px 30px;
}
h1 {
  width: 380px;
  font-size: 3.375rem;
  padding-bottom: 18px;
  margin-inline: 60px;
}
.confirm-text {
  width: 380px;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 26px;
  margin-inline: 60px;
}
.dismiss-button {
  width: 380px;
  padding: 18px;
  background-color: var(--Blue-800);
  color: var(--White);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin: 0 60px 70px;
  cursor: pointer;
}
.dismiss-button:hover {
  background-image: linear-gradient(to right, #ff5c6a, #fc693e);
  box-shadow: 0px 10px 30px rgba(255, 92, 106, 0.5);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  color: var(--White);
}
.attribution a {
  color: var(--White);
  font-size: 11px;
}

@media (max-width: 960px) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: var(--White);
  }
  .success-card {
    padding-top: 150px;
    background-color: var(--White);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .success-icon {
    width: 64px;
  }
  img {
    margin: 0 20px 30px;
  }
  h1 {
    width: 335px;
    font-size: 2.625rem;
    line-height: 1;
    padding-bottom: 24px;
    margin-inline: 20px;
  }
  .confirm-text {
    width: 335px;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 26px;
    margin-inline: 20px;
  }

  .dismiss-button {
    width: 335px;
    padding: 18px;
    background-color: var(--Blue-800);
    color: var(--White);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin: 0 20px 50px;
    /* align-self: flex-end; */
  }

  /* Attribution */
  .attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    color: black;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
  }
}
